<header onclick="myFunction()"  class="header dropbtn">
        <div class="glitch dropbtn" data-text="MENU">MENU</div>
        <nav id="myDropdown" class="dropdown-content">
            <div class="glitch menu_glitch" data-text="Menu">Menu</div>
            <a class="menu_item" href="#">Кейсы</a>
            <a class="menu_item" href="#">Отзывы</a>
            <a class="menu_item" href="#">Контакты</a>
            <a class="menu_item" href="#">Услуги</a>
            <a class="menu_item" href="#">О нас</a>
            <a class="menu_item" href="#">Бриф</a>
            <a class="menu_item" href="#">Бесплатный макет</a>
            <button class="callback-nav callback">
                <a title="Заказать звонок" href="tel:+79274736313"><img class="phone-img" src="../images/phone.svg" alt="Телефон"></a>
            </button>
        </nav>
        <button class="callback">
            <a title="Заказать звонок" href="tel:+79274736313"><img class="phone-img" src="../images/phone.svg" alt="Телефон"></a>
        </button>
</header>