<header onclick="myFunction()"  class="header dropbtn">
        <div class="menu dropbtn">MENU</div>
        <nav id="myDropdown" class="dropdown-content">
            <div class="menu_glitch">Menu</div>
            <a title="Кейсы" class="menu_item" href="#case">Кейсы</a>
            <a title="Отзывы" class="menu_item" href="#review">Отзывы</a>
            <a title="Контакты" class="menu_item" href="#contact">Контакты</a>
            <a title="Услуги" class="menu_item" href="#servise">Услуги</a>
            <a title="О нас" class="menu_item" href="#about">О нас</a>
            <a title="Бриф" class="menu_item" href="#brief">Бриф</a>
            <a title="Бесплатный макет" class="menu_item menu_last" href="#free">Бесплатный макет</a>
            <button class="callback-nav callback">
                <a title="Заказать звонок" href="tel:+79274736313"><img class="phone-img" src="./images/phone__icon.svg" alt="Телефон"></a>
            </button>
        </nav>
            <a title="Заказать звонок" class="callback" href="tel:+79274736313"><img class="phone-img" src="../images/phone__icon.svg" alt="Телефон"></a>
</header>