.about {
    padding-top: 36px;
    padding: 20px 12px 36px 12px;
    background-color: #fff;
    width: 93%;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6), inset 0px 1px 2px rgba(0, 0, 0, 0.25);
}


.about_title {
    padding: 1px;
    display: block;
    margin: 0 auto;
    background: #292929;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 32%;
    color: #FFFFFF;
    text-align: center;
}

.first {
    margin-top: 15px;
    border: 1px solid #292929;
    display: inline;
    position: absolute;
    width: 33%;
    left: 12px;
}

.second {
    right: 12px;
    margin-top: -16px;
    border: 1px solid #292929;
    display: inline;
    position: absolute;
    width: 33%;
}


.about__descr {
    display: inline;
    color: black;
    margin-top: 20px;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    width: 100%;
}

.about__descr-bigger {
    font-size: 24px;
    display: inline;
    font-style: italic;
}


.about__slider-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 170px;
}


.about__slider-squad-black, .about__slider-squad-yellow {
    width: 226px;
    display: block;
    margin: 0 auto;
    padding: 45px 35px 45px 35px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    background-color: #292929;
    color: #fff;
    z-index: 3;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: -153px;
    cursor: pointer;
}

.yellow {
    color: #ffd43c;
    font-size: 30px;
}

.about__slider-squad-yellow {
    position: relative;
    left: -15px;
    background-color: #ffd43c;
}

.about__slider-squad-black {
    position: relative;
}

.about__leaders {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    height: 303px;
    text-align: center;
}


.about__leaders-photo {
    position: absolute;
    
    object-fit: cover;
}

.about__leaders-text {
    position: relative;
    align-self: flex-end;
    margin-bottom: 20px;
}


.about__leaders-name {
    font-family: Montserrat;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFD43C;
}

.about__leaders-job {
    margin-top: 5px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.about__leader-link {
    margin-top: 5px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.about__us {
    margin-top: 20px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}