.cases {
    padding: 24px 0 34px 0;
}

.cases__line {
    
    border: 1px solid #ffffff;
}

.cases__title {
    background: #ffffff;
    color: #FFD43C;
}

.cases__slider {
    padding: 0 43px 0 43px;
    margin-top: 20px;
}

.cases__slider-top {
    position: relative;
    margin-bottom: -5px;
}

.cases__slider-bg {
    width: 100%;
}

.cases__slider-text {
    position: relative;
    align-self: center;
    text-align: center;
}

.cases__slider-name {
    position: absolute;
    top: 43%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: Montserrat;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}


.cases__slider-site {
    position: absolute;
    top: 82%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: Montserrat;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.cases__slider-bottom {
    background: #292929;
    padding: 20px 10px 14px 9px;
    box-shadow: 0px 28px 30px rgba(0, 0, 0, 0.3);
}


.cases__slider-descr {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}




.case__btn {
    font-family: Montserrat;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #292929;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 7px 10px 7px 10px;
}