.contacts {
    padding: 20px 14px;
    background-color: #292929;
}

.contacts__info-wrapper {
    margin-top: 20px;
}

.contacts__line {
    border: 1px solid #FFFFFF;
    width: 23%;
}


.contacts__title {
    color: #292929;
    width: 54%;
    background: #FFFFFF;
}

.contacts__info {
    padding: 6px 18px 6px 14px;
    background: #ffffff;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #292929;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

}

.form-header {
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}


.contacts__form {
    margin-top: 10px;
    width: 100%;
    text-align: left;
    padding: 6px 0 6px 14px;
    font-style: italic;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    background: none;
    border-radius: 0%;
    border: 1px solid #292929;
    outline: none;
    border-bottom: 1px solid #FFFFFF;
}



.contacts .promo__utp-btn {
    background-color: #FFD43C;
    box-shadow: none;
    color: #FFFFFF;
    font-weight: 700;
}


::-webkit-input-placeholder {
    color:#ffffff;
}

::-moz-placeholder {
    color:#ffffff;
}/* Firefox 19+ */
:-moz-placeholder {
    color:#ffffff;
}/* Firefox 18- */
:-ms-input-placeholder {
    color:#FFFFFF;
}


:focus::-webkit-input-placeholder {
    color: transparent
  }
  
  :focus::-moz-placeholder {
    color: transparent
  }
  
  :focus:-moz-placeholder {
    color: transparent
  }
  
  :focus:-ms-input-placeholder {
    color: transparent
  }

  .contacts__info a {
      text-decoration: none;
      color: #292929
  }