.reviews {
    padding-top: 30px;
    padding-bottom: 30px;
}

.reviews__line {
    width: 27%;
    border: 1px solid #ffffff;
}

.reviews__title {
    width: 40%;
}

.reviews .cases__slider .cases__slider-slide .cases__slider-top {
    height: 125px;
}

.reviews-name {
    top: 73%;
    font-size: 16px;
    position: absolute;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    width: 100%;
    text-align: center;
}

.reviews-site {
    margin-top: 41px;
    position: relative;
    top: 100%;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: Montserrat;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    margin-bottom: 10px;
}


.reviews .cases__slider .cases__slider-slide .cases__slider-bottom {
    z-index: 2;
    position: relative;
}

.reviews .cases__slider .cases__slider-slide .cases__slider-top .cases__slider-text {
    padding: 95px 0 6px;
}


.reviews .cases__slider .cases__slider-slide .cases__slider-bottom .cases__slider-site {
    text-align: center;
}