


.service__header {
    background-color: #292929;
    padding: 20px 0 20px 0;
}

.special {
    margin-top: 20px;
    background: url(../images/service_bg.svg) center (center/cover) no-repeat;
    background-color: #ffd43c;
    padding: 9px 0px 22px 0px;
}

.special__header {
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #292929;
    width: 180px;
    display: block;
    margin: 0 auto;
    margin-top: 9px;
}

.special__price {
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    line-height: 22px;
    text-align: center;
    color: #292929;
    width: 180px;
    display: block;
    margin: 0 auto;
}


.service__title {
    color: #292929;
    background-color: #fff;
}

.our__services-wrapper {
    padding: 20px 14px 0px;
    box-shadow: 0px 28px 30px rgba(0, 0, 0, 0.3)
}

.our__services-header {
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.service .our__services-wrapper .action__item .action__item-header {
    display: flex;
    justify-content: space-between;
    line-height: 18px;
    padding-left: 6px;
    padding-right: 13px;
}


.service__btn {
    font-family: Montserrat;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #292929;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.6);
    border: none;
    display: block;
    margin: 0 auto;
    padding: 7px 10px 7px 10px;
}

.action__item-price {
    margin-top: -6px;
}


.service-descr {
    padding-left: 6px;
    padding-right: 13px;
    margin-top: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.action__item-deleted-price {
    font-size: 12px;
}

.change__slide {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.service__standart {
    border-left: 10px solid  #8BFFA5;
    border-right: 10px solid  #8BFFA5;
    border-top: 1px solid  #8BFFA5;
    border-bottom: 1px solid #8BFFA5;
    box-shadow: 0px 0px 33px rgba(60, 255, 103, 0.4), inset -8px 0px 7px #8BFFA5;
}