@import 'vars';
@import 'fonts';
@import 'global';
//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
.header {
    background-color: #292929;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 1000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
    transition: all 5.3s ease-in-out;
}
.modal .modal_content {
    background-color: #292929;
    margin: 10% auto;
    padding: 20px;
    width: 93%;
    z-index: 99999;
    transition: all 5.3s ease-in-out;
    text-align: center;
}
.modal .modal_content .close_modal_window {
    color: #aaa;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}




.bright {
  border-color: #000;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-left: 43px;
  padding-right: 43px;
}

.cases-container {
  margin-top: 20px;
  height: 100%;
}

.service-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about-container {
  height: 350px;
  overflow: hidden;
}

.about-slide {
  padding: 0 40px 0 40px;
  width: 80%;
}


.swiper-slide {
  font-size: 18px;
  background: none;
  width: 80%;
  padding-bottom: 10px;
}


.status {
    margin-top: 20px;
    font-style: italic;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
body {
  background-color: #ffd43c;
}
.glitch {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin: 0 auto;
  width: 170px;
  margin-top: 9px;
  margin-bottom: 9px;
}

/* Real glitch effect */
.glitch {
  position: relative;
}

.glitch:after {
  animation: glitch-animation 3s infinite linear alternate-reverse;
  clip: rect( 0, 900px, 0, 0 );
  color: #292929;
  content: attr( data-text );
  background-color: #ffd43c;
  left: 1px;
  overflow: hidden;
  position: absolute;
  text-shadow: -1px  0 rgb(0, 0, 255);
  top: 0;
}

.glitch:before {
  animation: glitch-animation-2 3s infinite linear alternate-reverse;
  clip: rect( 0, 900px, 0, 0 );
  background-color: #ffd43c;
  color: #292929;
  content: attr( data-text );
  left: -1px;
  overflow: hidden;
  position: absolute;
  text-shadow: 1px  0 rgb(255, 0, 0);
  top: 0;
}

/* Expanded Animations */
@keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
  }
  5% {
    clip: rect(12px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 27px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(26px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(25px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 98px, 0);
  }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0);
  }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0);
  }
  65% {
    clip: rect(54px, 9999px, 27px, 0);
  }
  70% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 69px, 0);
  }
  80% {
    clip: rect(23px, 9999px, 85px, 0);
  }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 20px, 0);
  }
  100% {
    clip: rect(4px, 9999px, 91px, 0);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(79px, 9999px, 85px, 0);
  }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 61px, 0);
  }
  25% {
    clip: rect(14px, 9999px, 79px, 0);
  }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(71px, 9999px, 75px, 0);
  }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0);
  }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(59px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 82px, 0);
  }
  80% {
    clip: rect(47px, 9999px, 73px, 0);
  }
  85% {
    clip: rect(3px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 55px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(38px, 9999px, 49px, 0);
  }
}

.callback {
  background-color: #FFD43C;
  width: 43px;
  height: 43px;
  border: none;
  text-decoration: none;
  outline: none;
  display: flex;
  justify-content: center;
}

.phone-img {
  height: 17px;
  width: 17px;
  align-self: center;
}

.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.menu {
  text-align: center;
  align-self: center;
  margin: 0 auto;
  font-style: italic;
  font-size: 24px;
  line-height: 14px;
  font-weight: 700;
  color: #FFFFFF;
  text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
  padding-left: 35px;
}

.menu_glitch {
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  font-weight: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 14px;
  color: #FFFFFF;
  text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.3);
  margin-bottom: 27px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  padding: 20px;
  top: -2000px;
  position: absolute;
  background-color: #292929;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-transform: uppercase;
  transition: top 1.9s;
}

/* Links inside the dropdown */
.menu_item {
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #F2F2F2;
}

/* Change color of dropdown links on hover */
.menu_item:hover {color: rgba(60, 255, 103, 1);
}

.menu_last {
  color: rgba(60, 255, 103, 1);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  top: -00px;
  transition: top 0.7s;
}




//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import 'media';
@import 'promo';
@import 'about';
@import 'action';
@import 'cases';
@import 'free';
@import 'service';
@import 'brief';
@import 'reviews';
@import 'contacts';